################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Crossover.LBS.API/bin/Debug/net461
